## Atividades propostas na aula sobre a biblioteca Pandas

---

Importando bibliotecas

In [2]:
import pandas as pd

In [3]:
import numpy as np

Series

In [4]:
s1=pd.Series([1,2,-5,0])

In [5]:
s1

0    1
1    2
2   -5
3    0
dtype: int64

In [6]:
s1.values

array([ 1,  2, -5,  0])

In [7]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
s2=pd.Series([1,2,-5,0], index=['a','b','c','d'])

In [9]:
s2

a    1
b    2
c   -5
d    0
dtype: int64

In [11]:
s2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
s2['a']

1

In [13]:
s2['a']=100

In [14]:
s2

a    100
b      2
c     -5
d      0
dtype: int64

In [15]:
s2[s2>0]

a    100
b      2
dtype: int64

In [16]:
s2

a    100
b      2
c     -5
d      0
dtype: int64

Algebra

In [17]:
s2*2

a    200
b      4
c    -10
d      0
dtype: int64

In [18]:
s2

a    100
b      2
c     -5
d      0
dtype: int64

In [20]:
s2.isnull()

a    False
b    False
c    False
d    False
dtype: bool

Dataframe

In [27]:
dados={'estado':['SP','MG','PR','SP','MG','PR'], 'ano':[2019, 2016, 2016, 2020, 2020, 2020], 'pop':[45.9, 21.2, 16.9, 46.6, 21.4, 17.3]}
df1=pd.DataFrame(dados)

In [28]:
df1

  estado   ano   pop
0     SP  2019  45.9
1     MG  2016  21.2
2     PR  2016  16.9
3     SP  2020  46.6
4     MG  2020  21.4
5     PR  2020  17.3

In [30]:
df1.head(2)

  estado   ano   pop
0     SP  2019  45.9
1     MG  2016  21.2

Visualizar partes Dataframe

In [31]:
df1.tail(2)

  estado   ano   pop
4     MG  2020  21.4
5     PR  2020  17.3

In [33]:
df1.sample(2)

  estado   ano   pop
0     SP  2019  45.9
3     SP  2020  46.6

Novo Dataframe a partir do anterior

In [34]:
df2=pd.DataFrame(dados, columns=['ano', 'estado', 'pop'])

In [35]:
df2

    ano estado   pop
0  2019     SP  45.9
1  2016     MG  21.2
2  2016     PR  16.9
3  2020     SP  46.6
4  2020     MG  21.4
5  2020     PR  17.3

In [36]:
df2['estado']

0    SP
1    MG
2    PR
3    SP
4    MG
5    PR
Name: estado, dtype: object

In [37]:
df2.ano

0    2019
1    2016
2    2016
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [38]:
df2.dtypes

ano         int64
estado     object
pop       float64
dtype: object

Atribuir valores

In [40]:
df2['estimativa']=50

In [41]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9          50
1  2016     MG  21.2          50
2  2016     PR  16.9          50
3  2020     SP  46.6          50
4  2020     MG  21.4          50
5  2020     PR  17.3          50

In [42]:
df2['estimativa']=np.arange(6)

In [43]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2016     MG  21.2           1
2  2016     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [44]:
df3=df2

In [45]:
df3

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2016     MG  21.2           1
2  2016     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

In [46]:
df3=df2['ano']

In [47]:
df3

0    2019
1    2016
2    2016
3    2020
4    2020
5    2020
Name: ano, dtype: int64

In [48]:
df2['Não Paraná'] = df2.estado!='PR'

In [49]:
df2

    ano estado   pop  estimativa  Não Paraná
0  2019     SP  45.9           0        True
1  2016     MG  21.2           1        True
2  2016     PR  16.9           2       False
3  2020     SP  46.6           3        True
4  2020     MG  21.4           4        True
5  2020     PR  17.3           5       False

Excluir coluna

In [50]:
del df2['Não Paraná']

In [51]:
df2

    ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2016     MG  21.2           1
2  2016     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5

Entender o Dataframe

In [52]:
df2.shape

(6, 4)

In [53]:
df2.shape[0]

6

In [54]:
df2.index

RangeIndex(start=0, stop=6, step=1)

In [55]:
df2.columns

Index(['ano', 'estado', 'pop', 'estimativa'], dtype='object')

In [56]:
df2.count

<bound method DataFrame.count of     ano estado   pop  estimativa
0  2019     SP  45.9           0
1  2016     MG  21.2           1
2  2016     PR  16.9           2
3  2020     SP  46.6           3
4  2020     MG  21.4           4
5  2020     PR  17.3           5>

In [57]:
df2.columns=['Ano', 'Estado', 'População', 'Estimativa']

In [58]:
df2

    Ano Estado  População  Estimativa
0  2019     SP       45.9           0
1  2016     MG       21.2           1
2  2016     PR       16.9           2
3  2020     SP       46.6           3
4  2020     MG       21.4           4
5  2020     PR       17.3           5

Analisar o dataframe

In [59]:
df2.describe(include='all')

                Ano Estado  População  Estimativa
count      6.000000      6   6.000000    6.000000
unique          NaN      3        NaN         NaN
top             NaN     SP        NaN         NaN
freq            NaN      2        NaN         NaN
mean    2018.500000    NaN  28.216667    2.500000
std        1.974842    NaN  14.096725    1.870829
min     2016.000000    NaN  16.900000    0.000000
25%     2016.750000    NaN  18.275000    1.250000
50%     2019.500000    NaN  21.300000    2.500000
75%     2020.000000    NaN  39.775000    3.750000
max     2020.000000    NaN  46.600000    5.000000

Alterar valores e consultar dados

In [61]:
df2['Ano']=df2['Ano']+2

In [62]:
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2018     MG       21.2           1
2  2018     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [63]:
df2[df2['Ano']>2021]

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [64]:
df4=df2[df2['Ano']>2021]

In [65]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

Excluir colunas

In [66]:
df4.drop('Ano', axis='columns')

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [67]:
df4

    Ano Estado  População  Estimativa
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [68]:
df2

    Ano Estado  População  Estimativa
0  2021     SP       45.9           0
1  2018     MG       21.2           1
2  2018     PR       16.9           2
3  2022     SP       46.6           3
4  2022     MG       21.4           4
5  2022     PR       17.3           5

In [69]:
df2.drop('Ano', axis='columns', inplace=True)

In [70]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

Excluir linhas

In [71]:
df2.drop([0,1])

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [72]:
df2

  Estado  População  Estimativa
0     SP       45.9           0
1     MG       21.2           1
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [73]:
dflinhas=df2

In [75]:
dflinhas.drop([0,1], inplace=True)

In [76]:
dflinhas

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

In [77]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5

Ver dados de linhas

In [78]:
df2.iloc[0]

Estado          PR
População     16.9
Estimativa       2
Name: 2, dtype: object

In [79]:
df2.iloc[1:3]

  Estado  População  Estimativa
3     SP       46.6           3
4     MG       21.4           4

In [80]:
df2.iloc[1:3, [1,2]]

   População  Estimativa
3       46.6           3
4       21.4           4

In [81]:
df2

  Estado  População  Estimativa
2     PR       16.9           2
3     SP       46.6           3
4     MG       21.4           4
5     PR       17.3           5