# Algoritmo KNN (K-Nearest Neighbors) e Avaliação de Modelos Preditivos

In [1]:
from sklearn import datasets
import pandas as pd

Importar DataSet Iris

In [4]:
iris = datasets.load_iris()
df = pd.DataFrame(iris.data, columns=iris.feature_names)
df

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

Gerar um alvo (target)

In [5]:
df['target']=iris.target
df

     sepal length (cm)  sepal width (cm)  ...  petal width (cm)  target
0                  5.1               3.5  ...               0.2       0
1                  4.9               3.0  ...               0.2       0
2                  4.7               3.2  ...               0.2       0
3                  4.6               3.1  ...               0.2       0
4                  5.0               3.6  ...               0.2       0
..                 ...               ...  ...               ...     ...
145                6.7               3.0  ...               2.3       2
146                6.3               2.5  ...               1.9       2
147                6.5               3.0  ...               2.0       2
148                6.2               3.4  ...               2.3       2
149                5.9               3.0  ...               1.8       2

[150 rows x 5 columns]

Gerar um target name

In [6]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [7]:
df['target_names']=iris.target_names[df['target']]
df

     sepal length (cm)  sepal width (cm)  ...  target  target_names
0                  5.1               3.5  ...       0        setosa
1                  4.9               3.0  ...       0        setosa
2                  4.7               3.2  ...       0        setosa
3                  4.6               3.1  ...       0        setosa
4                  5.0               3.6  ...       0        setosa
..                 ...               ...  ...     ...           ...
145                6.7               3.0  ...       2     virginica
146                6.3               2.5  ...       2     virginica
147                6.5               3.0  ...       2     virginica
148                6.2               3.4  ...       2     virginica
149                5.9               3.0  ...       2     virginica

[150 rows x 6 columns]

Determinar as features (colunas, atributos) que vão fazer parte do estudo

In [11]:
iris_features=['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']

Determinar o alvo (y), classificação usando KNN o alvo precisa ser numérico

In [12]:
y=df.target

Selecionar os doados, as features que serão utilizadas (X)

In [13]:
X=df[iris_features]

In [15]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [16]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: target, Length: 150, dtype: int64

##Usar Scikit-learn
###Define = Escolha de modelo (define parâmetros)
###Fit = Treinar
###Predict = Fazer a Predição
###Evaluate = Avaliar os resultados

Importar o algorítmo KNN

In [18]:
from sklearn.neighbors import KNeighborsClassifier

Selecionar modelo

In [19]:
modelo = KNeighborsClassifier(3)

Treinar o modelo

In [20]:
modelo.fit(X,y)

KNeighborsClassifier(n_neighbors=3)

In [21]:
X

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

Ver a predição

In [22]:
print(modelo.predict(X))

[0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1
 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 2 2 2 1 2 2 2 2
 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2
 2 2]

Vamos observar a acurácia (porcentagem de acertos) lembrando que a validação está sendo feita com os oesmos dados do treinamento

In [23]:
modelo.score(X,y)

0.96