#Mineração de Dados, Preparação e Pré-Processamento de Dados

In [2]:
import pandas as pd

In [5]:
dados=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')

In [6]:
dados.head(5)

  tourney_id  tourney_name  ... loser_rank  loser_rank_points
0  2021-0499  Delray Beach  ...      119.0              566.0
1  2021-0499  Delray Beach  ...      789.0               22.0
2  2021-0499  Delray Beach  ...       74.0              877.0
3  2021-0499  Delray Beach  ...      101.0              733.0
4  2021-0499  Delray Beach  ...      293.0              171.0

[5 rows x 49 columns]

In [7]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2613 entries, 0 to 2612
Data columns (total 49 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tourney_id          2613 non-null   object
 1   tourney_name        2613 non-null   object
 2   surface             2613 non-null   object
 3   draw_size           2613 non-null   int64
 4   tourney_level       2613 non-null   object
 5   tourney_date        2613 non-null   int64
 6   match_num           2613 non-null   int64
 7   winner_id           2613 non-null   int64
 8   winner_seed         1124 non-null   float64
 9   winner_entry        413 non-null    object
 10  winner_name         2613 non-null   object
 11  winner_hand         2612 non-null   object
 12  winner_ht           2298 non-null   float64
 13  winner_ioc          2613 non-null   object
 14  winner_age          2613 non-null   float64
 15  loser_id            2613 non-null   int64
 16  loser_seed          657 non-null    float64
 17  loser_entry         625 non-null    object
 18  loser_name          2613 non-null   object
 19  loser_hand          2613 non-null   object
 20  loser_ht            2124 non-null   float64
 21  loser_ioc           2613 non-null   object
 22  loser_age           2611 non-null   float64
 23  score               2613 non-null   object
 24  best_of             2613 non-null   int64
 25  round               2613 non-null   object
 26  minutes             2536 non-null   float64
 27  w_ace               2522 non-null   float64
 28  w_df                2522 non-null   float64
 29  w_svpt              2522 non-null   float64
 30  w_1stIn             2522 non-null   float64
 31  w_1stWon            2522 non-null   float64
 32  w_2ndWon            2522 non-null   float64
 33  w_SvGms             2523 non-null   float64
 34  w_bpSaved           2522 non-null   float64
 35  w_bpFaced           2522 non-null   float64
 36  l_ace               2522 non-null   float64
 37  l_df                2522 non-null   float64
 38  l_svpt              2522 non-null   float64
 39  l_1stIn             2522 non-null   float64
 40  l_1stWon            2522 non-null   float64
 41  l_2ndWon            2522 non-null   float64
 42  l_SvGms             2523 non-null   float64
 43  l_bpSaved           2522 non-null   float64
 44  l_bpFaced           2522 non-null   float64
 45  winner_rank         2609 non-null   float64
 46  winner_rank_points  2609 non-null   float64
 47  loser_rank          2589 non-null   float64
 48  loser_rank_points   2589 non-null   float64
dtypes: float64(29), int64(6), object(14)
memory usage: 1000.4+ KB

In [8]:
dados.describe(include='all')

       tourney_id tourney_name  ...   loser_rank  loser_rank_points
count        2613         2613  ...  2589.000000        2589.000000
unique         83           83  ...          NaN                NaN
top      2021-560    Wimbledon  ...          NaN                NaN
freq          127          127  ...          NaN                NaN
mean          NaN          NaN  ...   102.353805        1382.034762
std           NaN          NaN  ...   144.490447        1447.905563
min           NaN          NaN  ...     1.000000           1.000000
25%           NaN          NaN  ...    37.000000         716.000000
50%           NaN          NaN  ...    69.000000         990.000000
75%           NaN          NaN  ...   111.000000        1588.000000
max           NaN          NaN  ...  1921.000000       12113.000000

[11 rows x 49 columns]

In [9]:
dados.isnull()

      tourney_id  tourney_name  ...  loser_rank  loser_rank_points
0          False         False  ...       False              False
1          False         False  ...       False              False
2          False         False  ...       False              False
3          False         False  ...       False              False
4          False         False  ...       False              False
...          ...           ...  ...         ...                ...
2608       False         False  ...       False              False
2609       False         False  ...       False              False
2610       False         False  ...       False              False
2611       False         False  ...       False              False
2612       False         False  ...        True               True

[2613 rows x 49 columns]

In [10]:
dados.isnull().sum()

tourney_id               0
tourney_name             0
surface                  0
draw_size                0
tourney_level            0
tourney_date             0
match_num                0
winner_id                0
winner_seed           1489
winner_entry          2200
winner_name              0
winner_hand              1
winner_ht              315
winner_ioc               0
winner_age               0
loser_id                 0
loser_seed            1956
loser_entry           1988
loser_name               0
loser_hand               0
loser_ht               489
loser_ioc                0
loser_age                2
score                    0
best_of                  0
round                    0
minutes                 77
w_ace                   91
w_df                    91
w_svpt                  91
w_1stIn                 91
w_1stWon                91
w_2ndWon                91
w_SvGms                 90
w_bpSaved               91
w_bpFaced               91
l_ace                   91
l_df                    91
l_svpt                  91
l_1stIn                 91
l_1stWon                91
l_2ndWon                91
l_SvGms                 90
l_bpSaved               91
l_bpFaced               91
winner_rank              4
winner_rank_points       4
loser_rank              24
loser_rank_points       24
dtype: int64

In [11]:
dados['winner_entry'].describe()

count     413
unique      6
top         Q
freq      233
Name: winner_entry, dtype: object

In [12]:
dados['winner_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

In [14]:
dados.dropna(subset=['loser_rank'], inplace=True)

In [17]:
dados.dropna(axis=1, how= 'all')

                           tourney_id  ... loser_rank_points
0                           2021-0499  ...             566.0
1                           2021-0499  ...              22.0
2                           2021-0499  ...             877.0
3                           2021-0499  ...             733.0
4                           2021-0499  ...             171.0
...                               ...  ...               ...
2607  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               8.0
2608  2021-M-DC-2021-WG2-M-THA-DEN-01  ...              27.0
2609  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               2.0
2610  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...              38.0
2611  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             359.0

[2589 rows x 49 columns]

In [18]:
dados['loser_entry'].unique()

array([nan, 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

In [19]:
dados['loser_entry'].fillna(value='X', inplace=True)

In [23]:
dados['loser_entry'].unique()

array(['X', 'Q', 'WC', 'Alt', 'PR', 'LL', 'SE'], dtype=object)

In [20]:
dados

                           tourney_id  ... loser_rank_points
0                           2021-0499  ...             566.0
1                           2021-0499  ...              22.0
2                           2021-0499  ...             877.0
3                           2021-0499  ...             733.0
4                           2021-0499  ...             171.0
...                               ...  ...               ...
2607  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               8.0
2608  2021-M-DC-2021-WG2-M-THA-DEN-01  ...              27.0
2609  2021-M-DC-2021-WG2-M-THA-DEN-01  ...               2.0
2610  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...              38.0
2611  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             359.0

[2589 rows x 49 columns]

In [21]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., nan, 11., 14., 23., 17., 16., 18., 41., 26., 19.,
       21., 30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49.,
       31.])

In [22]:
dados['loser_ht'].unique()

array([196.  ,    nan, 188.  , 185.  , 193.  , 206.  , 198.  , 191.  ,
       208.  , 183.  , 180.  , 178.  , 175.  , 190.  , 181.  , 211.  ,
       203.  , 173.  , 170.  , 172.  ,   1.83])

In [25]:
dados.fillna(value={'w_ace':0, 'loser_ht':dados['loser_ht'].mean()}, inplace=True)

In [26]:
dados['w_ace'].unique()

array([ 4.,  7.,  6.,  2.,  5.,  3., 22., 10.,  9., 13., 27.,  0.,  8.,
        1., 15., 12., 11., 14., 23., 17., 16., 18., 41., 26., 19., 21.,
       30., 25., 20., 29., 32., 28., 24., 34., 36., 44., 33., 49., 31.])

In [27]:
dados['loser_ht'].unique()

array([196.        , 186.82955639, 188.        , 185.        ,
       193.        , 206.        , 198.        , 191.        ,
       208.        , 183.        , 180.        , 178.        ,
       175.        , 190.        , 181.        , 211.        ,
       203.        , 173.        , 170.        , 172.        ,
         1.83      ])

In [28]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984      NaN
1985    141.0
1986     98.0
1987    127.0
1988      NaN
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

In [29]:
dados['minutes'].fillna(method='ffill', inplace=True)

In [30]:
dados['minutes'][1975:1990]

1981    128.0
1982     98.0
1983    119.0
1984    119.0
1985    141.0
1986     98.0
1987    127.0
1988    127.0
1989     98.0
1990     83.0
1991    135.0
1992     85.0
1993    140.0
1994    144.0
1995    131.0
Name: minutes, dtype: float64

In [31]:
dados.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2607    False
2608    False
2609    False
2610    False
2611    False
Length: 2589, dtype: bool

In [32]:
dados.duplicated().sum()

0

In [33]:
dados.drop_duplicates(subset=['tourney_name'], inplace=True)

In [34]:
dados['tourney_name'].head(10)

0               Delray Beach
27                   Antalya
58     Great Ocean Road Open
113        Murray River Open
168                  Atp Cup
198          Australian Open
325                  Cordoba
352                Singapore
379              Montpellier
406             Buenos Aires
Name: tourney_name, dtype: object

In [38]:
dados.describe()

        draw_size  tourney_date  ...   loser_rank  loser_rank_points
count   79.000000  7.900000e+01  ...    79.000000          79.000000
mean    37.924051  2.021063e+07  ...   180.974684        1816.936709
std     32.095120  2.804038e+02  ...   315.148234        2425.317094
min      4.000000  2.021010e+07  ...     1.000000           1.000000
25%     32.000000  2.021036e+07  ...    27.500000         510.500000
50%     32.000000  2.021063e+07  ...    60.000000        1072.000000
75%     32.000000  2.021092e+07  ...   148.500000        1994.000000
max    128.000000  2.021110e+07  ...  1921.000000       12113.000000

[8 rows x 35 columns]

In [48]:
dados2=pd.read_csv("AAPL.csv")

In [49]:
dados2

           Date        Open        High  ...       Close   Adj Close     Volume
0    2020-11-11  117.190002  119.629997  ...  119.489998  118.757889  112295000
1    2020-11-12  119.620003  120.529999  ...  119.209999  118.479591  103162300
2    2020-11-13  119.440002  119.669998  ...  119.260002  118.529289   81581900
3    2020-11-16  118.919998  120.989998  ...  120.300003  119.562920   91183000
4    2020-11-17  119.550003  120.669998  ...  119.389999  118.658493   74271000
..          ...         ...         ...  ...         ...         ...        ...
247  2021-11-04  151.580002  152.429993  ...  150.960007  150.740005   60394600
248  2021-11-05  151.889999  152.199997  ...  151.279999  151.279999   65414600
249  2021-11-08  151.410004  151.570007  ...  150.440002  150.440002   55020900
250  2021-11-09  150.199997  151.429993  ...  150.809998  150.809998   56787900
251  2021-11-10  150.020004  150.130005  ...  147.919998  147.919998   65076700

[252 rows x 7 columns]

In [50]:
dados2['close_ontem']=dados2['Close'].shift(1)

In [51]:
dados2

           Date        Open        High  ...   Adj Close     Volume  close_ontem
0    2020-11-11  117.190002  119.629997  ...  118.757889  112295000          NaN
1    2020-11-12  119.620003  120.529999  ...  118.479591  103162300   119.489998
2    2020-11-13  119.440002  119.669998  ...  118.529289   81581900   119.209999
3    2020-11-16  118.919998  120.989998  ...  119.562920   91183000   119.260002
4    2020-11-17  119.550003  120.669998  ...  118.658493   74271000   120.300003
..          ...         ...         ...  ...         ...        ...          ...
247  2021-11-04  151.580002  152.429993  ...  150.740005   60394600   151.490005
248  2021-11-05  151.889999  152.199997  ...  151.279999   65414600   150.960007
249  2021-11-08  151.410004  151.570007  ...  150.440002   55020900   151.279999
250  2021-11-09  150.199997  151.429993  ...  150.809998   56787900   150.440002
251  2021-11-10  150.020004  150.130005  ...  147.919998   65076700   150.809998

[252 rows x 8 columns]

In [55]:
dados2['alteracao %']=((dados2['Close']/dados2['close_ontem'])-1)*100

In [57]:
dados2.head(20)

          Date        Open        High  ...     Volume  close_ontem  alteracao %
0   2020-11-11  117.190002  119.629997  ...  112295000          NaN          NaN
1   2020-11-12  119.620003  120.529999  ...  103162300   119.489998    -0.234328
2   2020-11-13  119.440002  119.669998  ...   81581900   119.209999     0.041945
3   2020-11-16  118.919998  120.989998  ...   91183000   119.260002     0.872045
4   2020-11-17  119.550003  120.669998  ...   74271000   120.300003    -0.756446
5   2020-11-18  118.610001  119.820000  ...   76322100   119.389999    -1.139124
6   2020-11-19  117.589996  119.059998  ...   74113000   118.029999     0.516818
7   2020-11-20  118.639999  118.769997  ...   73604300   118.639999    -1.095754
8   2020-11-23  117.180000  117.620003  ...  127959300   117.339996    -2.974261
9   2020-11-24  113.910004  115.849998  ...  113874200   113.849998     1.159420
10  2020-11-25  115.550003  116.750000  ...   76499200   115.169998     0.746723
11  2020-11-27  116.570000  117.489998  ...   46691300   116.029999     0.482631
12  2020-11-30  116.970001  120.970001  ...  169410200   116.589996     2.109964
13  2020-12-01  121.010002  123.470001  ...  127728200   119.050003     3.082737
14  2020-12-02  122.019997  123.370003  ...   89004200   122.720001     0.293352
15  2020-12-03  123.519997  123.779999  ...   78967600   123.080002    -0.113747
16  2020-12-04  122.599998  122.860001  ...   78260400   122.940002    -0.561251
17  2020-12-07  122.309998  124.570000  ...   86712000   122.250000     1.226994
18  2020-12-08  124.370003  124.980003  ...   82225500   123.750000     0.509088
19  2020-12-09  124.529999  125.949997  ...  115089200   124.379997    -2.090367

[20 rows x 9 columns]

In [58]:
dados2.dropna(subset=['alteracao %'], inplace=True)

In [59]:
dados2

           Date        Open        High  ...     Volume  close_ontem  alteracao %
1    2020-11-12  119.620003  120.529999  ...  103162300   119.489998    -0.234328
2    2020-11-13  119.440002  119.669998  ...   81581900   119.209999     0.041945
3    2020-11-16  118.919998  120.989998  ...   91183000   119.260002     0.872045
4    2020-11-17  119.550003  120.669998  ...   74271000   120.300003    -0.756446
5    2020-11-18  118.610001  119.820000  ...   76322100   119.389999    -1.139124
..          ...         ...         ...  ...        ...          ...          ...
247  2021-11-04  151.580002  152.429993  ...   60394600   151.490005    -0.349857
248  2021-11-05  151.889999  152.199997  ...   65414600   150.960007     0.211971
249  2021-11-08  151.410004  151.570007  ...   55020900   151.279999    -0.555260
250  2021-11-09  150.199997  151.429993  ...   56787900   150.440002     0.245943
251  2021-11-10  150.020004  150.130005  ...   65076700   150.809998    -1.916319

[251 rows x 9 columns]

In [60]:
dados2.describe(include='all')

              Date        Open  ...  close_ontem  alteracao %
count          251  251.000000  ...   251.000000   251.000000
unique         251         NaN  ...          NaN          NaN
top     2020-12-17         NaN  ...          NaN          NaN
freq             1         NaN  ...          NaN          NaN
mean           NaN  134.960519  ...   134.894382     0.097140
std            NaN   10.647007  ...    10.694823     1.557913
min            NaN  113.910004  ...   113.849998    -4.167351
25%            NaN  125.920002  ...   125.905003    -0.774052
50%            NaN  133.770004  ...   133.479996     0.123343
75%            NaN  144.919999  ...   145.620002     1.049776
max            NaN  156.979996  ...   156.690002     5.385122

[11 rows x 9 columns]

Transformar dados qualitativos em dados numéricos

In [61]:
dados=pd.read_csv('https://raw.githubusercontent.com/JeffSackmann/tennis_atp/master/atp_matches_2021.csv')

In [62]:
dados['winner_ioc']

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2608    DEN
2609    THA
2610    TUR
2611    TUR
2612    TUR
Name: winner_ioc, Length: 2613, dtype: object

In [63]:
dados['winner_ioc'].unique()

array(['POL', 'USA', 'GBR', 'ITA', 'ECU', 'COL', 'CRO', 'BRA', 'AUS',
       'KAZ', 'FRA', 'BEL', 'GER', 'GEO', 'BUL', 'TUR', 'FIN', 'ESP',
       'RUS', 'SRB', 'NED', 'URU', 'SLO', 'RSA', 'DEN', 'KOR', 'UKR',
       'CAN', 'SUI', 'CZE', 'LTU', 'BLR', 'ARG', 'POR', 'HUN', 'JPN',
       'GRE', 'AUT', 'NOR', 'MDA', 'SWE', 'SVK', 'CHI', 'IND', 'TUN',
       'PER', 'TPE', 'BIH', 'BOL', 'ISR', 'ROU', 'BAR', 'INA', 'DOM',
       'MEX', 'ESA', 'THA'], dtype=object)

In [64]:
from sklearn.preprocessing import LabelEncoder

In [65]:
paises=dados['winner_ioc']

In [66]:
paises

0       POL
1       POL
2       USA
3       USA
4       POL
       ...
2608    DEN
2609    THA
2610    TUR
2611    TUR
2612    TUR
Name: winner_ioc, Length: 2613, dtype: object

In [68]:
lencoder= LabelEncoder()
paises_numeros = lencoder.fit_transform(paises)
paises_numeros

array([40, 40, 56, ..., 53, 53, 53])

In [69]:
paises.head(10)

0    POL
1    POL
2    USA
3    USA
4    POL
5    GBR
6    USA
7    USA
8    ITA
9    POL
Name: winner_ioc, dtype: object

In [70]:
dados['paises_numeros']=paises_numeros

In [71]:
dados

                           tourney_id  ... paises_numeros
0                           2021-0499  ...             40
1                           2021-0499  ...             40
2                           2021-0499  ...             56
3                           2021-0499  ...             56
4                           2021-0499  ...             40
...                               ...  ...            ...
2608  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             15
2609  2021-M-DC-2021-WG2-M-THA-DEN-01  ...             50
2610  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53
2611  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53
2612  2021-M-DC-2021-WG2-M-TUR-LAT-01  ...             53

[2613 rows x 50 columns]